<configuration scan="true" scanPeriod="30 seconds" debug="false">
    <property name="LOG_PATH" value="./logs"/>
    <property name="LOG_LEVEL" value="debug"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d [%thread] %-5level %logger{50}:%line-%msg%n</pattern>
        </layout>
    </appender>

    <appender name="xspringAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_PATH}/xspring.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_PATH}/xspring.%d{yyyy-MM-dd}.zip</FileNamePattern>
            <MaxHistory>7</MaxHistory>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d [%thread] %-5level %logger{50}:%line-%msg%n</pattern>
        </layout>
    </appender>

    <logger name="org.springframework" level="debug" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="xspringAppender"/>
    </logger>

    <logger name="org.xspring" level="debug" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="xspringAppender"/>
    </logger>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
